.aboutCon {
    .title {
        margin-bottom: -.2rem;

        .one{
            color: green;
        }

        .two{
            color: orange;
        }
    }
    small {
        letter-spacing: .1em;
        position: relative;
        cursor: pointer;
    }

    small:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -4px;
        left: 0;
        background-image: linear-gradient(to right, green, orange);
        transform-origin: bottom center;
        transition: transform 0.25s ease;
    }

    small:hover::after{
        transform: scaleX(1);
        transform-origin: bottom center;
    }
}