a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: #f6f3f3;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    // max-width: 1920px;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    padding: .5rem 2rem;
    cursor: pointer;
    overflow: hidden;

    .logo {
        text-align: center;

        h1 {
            margin-bottom: .2rem;
        }
    }

    .navList {
        display: flex;
        list-style: none;
        text-align: center;
        gap: 3rem;
        padding-right: 10rem;
    }
}